# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ugolki/v16/.suo
.vs/ugolki/v16/Browse.VC.db
.vs/ugolki/v16/Browse.VC.db-shm
ugolki/x64/Debug/ugolki.tlog/CL.read.1.tlog
ugolki/x64/Debug/ugolki.tlog/CL.write.1.tlog
ugolki/x64/Debug/vc142.idb
ugolki/x64/Debug/vc142.pdb
x64/Debug/ugolki.ilk
x64/Debug/ugolki.pdb
.vs/ugolki/v16/ipch/AutoPCH/6504b20c3b34dd4/BOARD.ipch
.vs/ugolki/v16/Browse.VC.opendb
.vs/ugolki/v16/Browse.VC.db-wal
.vs/ugolki/v16/Browse.VC.db
.vs/ugolki/v16/.suo
.vs/ugolki/v16/Browse.VC.db
.vs/ugolki/v16/ipch/AutoPCH/761ce4016d4bdd12/TREENODE.ipch
.vs/ugolki/v16/Browse.VC.db
.vs/ugolki/v16/.suo
.vs/ugolki/v16/ipch/AutoPCH/7bafb54fa9b61f6b/MCTS.ipch
.vs/ugolki/v16/ipch/AutoPCH/236248896b27a255/SIMULATION.ipch
ugolki/x64/Release/ugolki.exe.recipe
ugolki/x64/Release/ugolki.iobj
ugolki/x64/Release/ugolki.ipdb
ugolki/x64/Release/ugolki.log
ugolki/x64/Release/ugolki.log
ugolki/x64/Release/ugolki.tlog/CL.command.1.tlog
ugolki/x64/Release/ugolki.tlog/CL.read.1.tlog
ugolki/x64/Release/ugolki.tlog/CL.write.1.tlog
ugolki/x64/Release/ugolki.tlog/link.command.1.tlog
ugolki/x64/Release/ugolki.tlog/link.read.1.tlog
ugolki/x64/Release/ugolki.tlog/link.write.1.tlog
ugolki/x64/Release/ugolki.tlog/ugolki.lastbuildstate
ugolki/x64/Release/ugolki.tlog/ugolki.write.1u.tlog
ugolki/x64/Release/vc142.pdb
x64/Release/ugolki.pdb
